<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>

<!-- =============PAGE CONTENT ======================= -->
<div class="container" id="content">

    <div class="row text-center">
        <h1>English to Yoda Speak</h1>
    </div>

    <div class="row">
        <!-- the input section -->
        <div class="col-sm-6">
            <div class="form-group">
                <label for="input-text"><h1>Enter English:</h1></label>
                <textarea type="text" class="form-control" rows="4" id="input-text"></textarea>
                <button id="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <!-- The output section -->
        <div class="col-sm-6 text-center">

            <h2>What Yoda would say:</h2>
            <div id="yoda-output">
                Click submit you must.
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            Leveraging the Mashape API:
            <a href="https://market.mashape.com/ismaelc/yoda-speak">https://market.mashape.com/ismaelc/yoda-speak</a>
            <br>
            from <a href="http://www.yodaspeak.co.uk/">http://www.yodaspeak.co.uk/</a>
        </div>
    </div>
</div>
<!-- =================== JavaScript ========================= -->
<!-- scripts, jQuery for AJAX API calls-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<!-- Bootstrap's js script -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- application script to communicate with the Flask backend -->
<script type="text/javascript">

    $(document).on('click','#submit',function () {

        console.log("clicked on submit!");
        var words = $('#input-text').val();
        console.log(words);
        //set output to processing gif while we wait for ajax response
        var gif =  "<div class='text-center'> Processing...<br/><img class='text-center' src='http://24.media.tumblr.com/4c5070a4f871a1d2b1e24b70e8acc496/tumblr_mqd5ibdXgi1sc6f01o1_500.gif'/> </div>";
        $("#yoda-output").html(gif);
        $.ajax({
            url:'/api/yoda_speak',
            method: 'POST',
            data: {str: words},
            success: function(result){
                $("#yoda-output").html(result);
            },
        });
    });

</script>
</body>
</html>
